.caja {
    position: relative;
    display: inline-block;

    width: 100px;
    height: 100px;

    background: red;
    border-color: black;
    border-width: 40px;
    color: yellow;
}

#modBox {
    background: black;
    border-color: black;
    border-width: 40px;
    color: white;
}